@use './reset' as *;

body {
	min-height: 100vh;
	background: rgb(6, 187, 35);
	background: linear-gradient(180deg, rgba(6, 187, 35, 1) 0%, rgba(0, 47, 8, 1) 100%);
	background-attachment: fixed;
}

.logout-btn {
	position: absolute;
	bottom: 2.5%;
	right: 2.5%;
	font-size: 2rem;
	color: #06bb23;
	border: 2px solid #06bb23;
	padding: 0.5em 1em;
	transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, text-shadow 0.15s ease-in-out,
		color 0.15s ease-in-out;

	&:hover {
		background-color: #06bb23;
		color: #fff;
		box-shadow: 0px 0px 5px #06bb23, 0px 0px 15px #06bb23;
		text-shadow: 0px 0px 5px #fff, 0px 0px 15px #fff;
	}
}

.title {
	color: #000;
	font-size: 3.6rem;
}

.question {
	background-color: #000a;
	margin: 1em auto;
	padding: 1.5em;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&_title {
		font-size: 2rem;
	}

	.bold {
		font-weight: bold;
	}
}

.correct {
	background-color: #06bb23;
}

.answer {
	&_list {
		list-style: none;
		font-size: 1.8rem;

		li {
			padding: 0.25em 1em;
		}
	}
}
